header img {
    min-width: 35px;
    padding: 20px;
}

body {
    max-width: 800px;
    margin: auto;
}

header {
    background-color: #3E5C76;
    color: white;
    padding: 15px;
    text-align: center;
    height: 200px;
    border-radius: 10px;
}

header img {
    float: left;
    padding: 0px;
}

footer {
    text-align: center;
    background-color: #3E5C76;
    color: white;
    font-family: 'Be Vietnam', sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
}

main {
    padding: 10px;
}

h1 {
    padding-top: 10px;
    margin: 0px;
}

footer a {
    color: #89cff0;
}

ul a {
    color: #3E5C76;
}


/*
      a:link - a normal, unvisited link
      a:visited - a link the user has visited
      a:hover - a link when the user mouses over it
      a:active - a link the moment it is clicked
  */