header img {
    min-width: 35px;
    padding: 20px;
}

body {
    max-width: 800px;
    margin: auto;
}

header {
    flex-direction: row-reverse;
    background-color: #3E5C76;
    color: white;
    padding: 15px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #3E5C76;
    color: white;
    font-family: 'Be Vietnam', sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
}

main {
    padding: 10px;
}

h1 {
    padding-top: 10px;
    margin: 0px;
}