header img {
    min-width: 35px;
    padding: 20px;
  
  }
  
  body {
  
    max-width: 800px;
    margin: auto;
  
  }
  
  header {
  
    color: white;
    padding: 15px ;
    text-align:  center;
    height: 180px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url('https://i.pinimg.com/736x/a2/d1/23/a2d123540647f8b180b7f712f3425a58.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 30px 30px rgba(0,0,0,0.9);
  
  }
  
  header img {
  
    float: left;
    padding: 0px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 150px;
    border: 1px solid black;
    opacity: 90%;
    max-height: 100%;
    
    
  
  }
  
  footer { 
  
    text-align: center;
    background-color: hsl(214, 74%, 65%, 50%);
    color: white;
    font-family: 'Be Vietnam', sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  
  main {
  
    padding: 10px;
  
  }
  
  h1 {
    padding-top: 10px;
    margin: 0px;
  }
  
  footer a{
    color:  black;
  }
  
  ul a {
  
    color: #3E5C76;
  }

  #lessonlinks {

    border-top: 2px solid black;
    border-bottom: 2px solid black;

  }

  