/* phone or baseline views **************************/
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav button {

    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;

}

nav {

    background-color: #eee;

}

nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {

    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);

}

nav ul li.active a {

    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover  {

    background-color: rgba(0,0,0,0.4);

}

nav ul {

    display: none;
}

nav ul.open {

    display: block;
    
}

header, footer {

	background-color: #173679;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;

}

.logo {

	display: flex;
	align-items: center;
	margin-left: 1rem;

}

.logo img {

	width: 80px;
	height: auto;

}

.headings {

	display: flex;
	flex-direction: column;
	margin-left: .5rem;

}

.headings h1 {

	font-size: 1.5rem;

}


.social {

	margin-right: 1.5rem;

}

.social svg {

	width: 25px;
	height: auto;

}


main {

	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;

}

main article {

	margin: .5rem;
	border: 1px solid black;
	padding: 1rem;
	background-color: rgba(127, 197, 220, 0.2);
	

}

main article ul {

	margin: 1rem 0 0 1rem;

}

main picture {

	display: none;
	margin: 0.5rem;

}

footer {

	height: 5rem;
	color: white;

}

.spotlight {

		color: green;
	

	}
	.spotlight div {

		border: 2px solid black;
		margin: 10px;

	}

	.event {

		color:yellow;

		
	}

	.hero {

		color: purple;
	;


	}

	.weather {

		color:blue;
	


	}

	.join {

		color:chartreuse;
	


	}

	.news {

		color:crimson;
	
	}

	#maplink {

		height: 50px;
		color: black;
		float: right;

	}