/* phone or baseline views **************************/
header,
footer {

	background-color: #173679 ;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 20px;

}

header,
nav,
main,
footer {

	max-width: 767px;
	margin: 0 auto;

}
h1 {

	font-size: 1.1rem;
	color: #E8E163;

}
h2 {

	color: #536878;

}

nav {

	background-color: #4888C8;
	text-align: center;
	box-shadow: 0 2px 15px gray;
	border-radius: 20px;

}

nav ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-radius: 20px;

}

nav ul li a {

	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	transition: 0.5s;

}

nav a:hover {

	background-color: #7FC5DC;
	color: #36454f; 
	--d: 75%;
}


main {

	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;

}

main article {

	margin: .5rem;
	border: 1px solid black;
	padding: 1rem;
	background-color: rgba(127, 197, 220, 0.2);
	

}

main article ul {

	margin: 1rem 0 0 1rem;

}

main picture {

	display: none;
	margin: 0.5rem;

}

footer {

	height: 5rem;
	color: #E8E163;

}