/* phone or baseline views **************************/
header, footer {

	background-color: #173679;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;

}

.logo {

	display: flex;
	align-items: center;
	margin-left: 1rem;

}

.logo img {

	width: 80px;
	height: auto;

}

.headings {

	display: flex;
	flex-direction: column;
	margin-left: .5rem;

}

.headings h1 {

	font-size: 1.5rem;

}


.social {

	margin-right: 1.5rem;

}

.social svg {

	width: 25px;
	height: auto;

}

/* Larger viewports */
@media only screen and (min-width: 32.5em) {
	header img {

		width: 100%;
	
	}

	.headings h1 {

		font-size: 2rem;
		margin: 0;

	}

	.m {

		letter-spacing: 1.5pt;
		font-size: 0.9rem;
		
	}

	
}

nav button {

	margin: .2rem 2vw;
	background: transparent;
	border: none;
	font-size:  2rem;
	color: #555;

}

nav {

	background-color: #4888C8;
	box-shadow: 0 2px 15px gray;
	
}



nav ul li a {

	display: block;
	color: #333;
	padding: 0.8rem 2vw;
	text-decoration: none;
	border-top: 1px solid rgba(0,0,0,0.5);

}


nav a:hover {

	background-color: #7FC5DC;
	color: #36454f; 
	
}

nav ul {

	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	

}

nav ul.open {

	display: block;
	
}



main {

	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;

}

main article {

	margin: .5rem;
	border: 1px solid black;
	padding: 1rem;
	background-color: rgba(127, 197, 220, 0.2);
	

}

main article ul {

	margin: 1rem 0 0 1rem;

}

main picture {

	display: none;
	margin: 0.5rem;

}

footer {

	height: 5rem;
	color: white;

}

.spotlight {

		color: green;
	

	}
	.spotlight div {

		border: 2px solid black;
		margin: 10px;

	}

	.event {

		color:yellow;

		
	}

	.hero {

		color: purple;
	;


	}

	.weather {

		color:blue;
	


	}

	.join {

		color:chartreuse;
	


	}

	.news {

		color:crimson;
	
	}

	#maplink {

		height: 50px;
		color: black;
		float: right;

	}