/* phone or baseline views **************************/
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {

	padding: 5px;

}	

nav button {

    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: black;
	justify-content: right;
	margin-right: 25px;
	
}

nav {

	background-color: #173679;	
	border-left: 0;
	justify-items: right;
	margin-left: 0;
	   	
}

nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {

    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,0.5);

}

nav ul li.active a {

    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover  {

    background-color: rgba(0,0,0,0.4);

}

nav ul {

    display: none;
}

nav ul.open {

	position: absolute;
    display: block;
	background-color: #173679;
    
}



header, footer {

	background-color: #173679;
	padding: 5px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
	min-height: 150px;

}

header {

	

}

footer  {

	text-align: center;
	flex-direction: column;
}

.date{

	width:60%;
	height: 10%;
	display:flex;
	margin-left: 25%;
	justify-content: center;
	border: 1px solid #bbb;
	background-color: white;
	opacity: 0.5;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	color: navy;

}


.logo img {

	width: 80px;
	height: auto;
	margin-left: 5px;
	border-radius: 10%;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	
}

.headings {

	line-height: 2px;
	padding: 7px;
	margin-top: -7px;
	float: right;

}

.social {

	margin-right: 1.5rem;
	
}

.social svg {

	width: 25px;
	height: auto;

}

main {

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat( 6,200px);
	font-size: 0.8rem;
	

}

main article {

	margin: .5rem;
	border: 1px solid black;
	padding: 1rem;
	background-color: rgba(127, 197, 220, 0.2);
	

}

main article ul {

	margin: 1rem 0 0 1rem;

}

main picture {

	display: none;
	margin: 0.5rem;

}


.spotlight {

		color: green;
		grid-row-start: 5;
		grid-row-end: 7;

			
	}


	.spotlight div {

		border: 2px solid black;
		margin: 10px;
		height: 47%;
			
	}
	
	#sp3 {

		display: none;

	}

	.event {

		color:yellow;
	
	}

	.hero {

		color: purple;
	
	}

	.weather {

		color:blue;
	
	}

	.join {

		display: none;

	}

	.news {

		color:crimson;
	
	}

	#maplink {

		height: 50px;
		color:black;

	}

