header, a {

    height: 100vh;
    background-image: url('https://img1.10bestmedia.com/Images/Photos/386153/Oklahoma-City_54_990x660.jpg');
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    justify-content: center;
    
    
    
}

h1, h2 {

    padding-top: 45px;
    text-align: center;
}


*
{

 margin: 0px;
 padding: 0px;
 
}

button {

 position: absolute;
 top:85vh;
 padding: 20px;
 font-size: 2.5em;


}

button.hover {

 cursor: pointer;
 background-color: #eee;
 opacity: 0.8;

}







