@media only screen and (min-width: 60em) {
	h1 {
		font-size: 2rem;
	}

	nav ul li a {

		padding: .5rem 1 rem
	}
	
	main {
		
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 5px;
		
	}
	article:nth-child(3) {

		grid-column: span 1;
	}

	.spotlight {

		color: green;
		grid-column: 3;
		grid-row: 1/4;

	}
	.spotlight div {

		border: 2px solid black;
		margin: 10px;

	}

	.event {

		color:yellow;
		grid-column: 1;
		grid-row: 1;
		
	}

	.hero {

		color: purple;
		grid-column: 2;
		grid-row: 1/3;


	}

	.weather {

		color:blue;
		grid-column: 1;
		grid-row: 2;


	}

	.join {

		color:chartreuse;
		grid-column: 1;
		grid-row: 3;


	}

	.news {

		color:crimson;
		grid-column: 2;
		grid-row: 3/4;


	}



}