@media only screen and (min-width: 60em) {
	h1 {
		font-size: 2rem;
	}

	nav button {

		display: none;

	}

	nav {

		background-color: #173679;	
		border-left: 0;
		justify-items: right;
		margin-left: 0;
		   
	}
	
	nav ul {

		display: flex;
		list-style-type: none;
		padding: 0;
		margin: 0;
	
	}
	
	nav ul li a {
	
		display: block;
		padding: .8rem 2vw;
		text-decoration: none;
		color: white;
		border-top: 1px solid rgba(0,0,0,0.5);
	
	}
	
	nav ul li.active a {
	
		background-color: rgba(0,0,0,0.2);
		color: #fff;
	}
	
	nav ul li a:hover  {
	
		background-color: rgba(0,0,0,0.4);
	
	}
	
	main {
		
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: repeat(10, 1fr);
		grid-gap: 5px;
		
	}
	
	.spotlight {

		color: green;
		grid-column: 3/4;
		grid-row: 1/5;

	}
	.spotlight div {

		border: 2px solid black;
		margin: 10px;

	}

	#sp3 {

		display: block;

	}

	.event {

		color:yellow;
		grid-column: 1;
		grid-row: 1;
		
	}

	.hero {

		color: purple;
		grid-column: 2;
		grid-row: 1/3;


	}

	.weather {

		color:blue;
		grid-column: 2;
		grid-row: 5;


	}

	.join {

		color:chartreuse;
		grid-column: 1;
		grid-row: 3;


	}

	.news {

		color:crimson;
		grid-column: 2;
		grid-row: 3/4;


	}



}