/* Tablet Views ******************************/
@media only screen and (min-width: 40em) {
	nav {

		background-color: #173679;
		border-left: 0;
			
	}

	
	nav ul {
	
		list-style-type: none;
		padding: 0;
		margin: 0;
	
	}
	
	nav ul li a {
	
		display: block;
		padding: .8rem 2vw;
		text-decoration: none;
		color: white;
		border-top: 1px solid rgba(0,0,0,0.5);
	
	}
	
	nav ul li.active a {
	
		background-color: rgba(0,0,0,0.2);
		color: #fff;
	}
	
	nav ul li a:hover  {
	
		background-color: rgba(0,0,0,0.4);
	
	}
	
	nav ul {
	
		display: none;
	}
	
	nav ul.open {
	
		display: block;
		
	}

main {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
	}



main picture {
		display: block;
	}

main picture img {
	
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}

	.spotlight {

		color: green;
		grid-column: 1/5
		;
		grid-row: 3/4;
	

	}
	.spotlight div {

		border: 2px solid black;
		margin: 10px;
		
	}

	
	.event {

		color:yellow;
		grid-column: 1/3;
			
	}

	.hero {

		color: purple;
		grid-column: 1/5;
		grid-row: 1/2;
		
	;


	}

	.weather {

		color:blue;
		grid-column-start: 3;
		

	


	}

	.join {

		color:chartreuse;
		display: block;
		grid-column: 1/5;
		grid-row: 4/5;
	


	}

	.news {

		color:crimson;
		grid-column: 1/5;
		grid-row: 2/3;
	
	}
