/* Tablet Views ******************************/
@media only screen and (min-width: 40em) {
	nav {

		background-color: #eee;
		
		border-left: 0;
			
	}
	
	nav ul {
	
		list-style-type: none;
		padding: 0;
		margin: 0;
	
	}
	
	nav ul li a {
	
		display: block;
		padding: .8rem 2vw;
		text-decoration: none;
		color: #333;
		border-top: 1px solid rgba(0,0,0,0.5);
	
	}
	
	nav ul li.active a {
	
		background-color: rgba(0,0,0,0.2);
		color: #fff;
	}
	
	nav ul li a:hover  {
	
		background-color: rgba(0,0,0,0.4);
	
	}
	
	nav ul {
	
		display: none;
	}
	
	nav ul.open {
	
		display: block;
		
	}

main {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
	}

article:nth-child(3) {
		grid-column: span 2;
	}

main picture {
		display: block;
	}

main picture img {
	
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}

	.spotlight {

		color: green;
	

	}
	.spotlight div {

		border: 2px solid black;
		margin: 10px;

	}

	.event {

		color:yellow;

		
	}

	.hero {

		color: purple;
		grid-column: 1/4;
		grid-row: 1/4;
	;


	}

	.weather {

		color:blue;
	


	}

	.join {

		color:chartreuse;
	


	}

	.news {

		color:crimson;
	
	}
}