header img {
  min-width: 35px;
  padding: 20px;

}

body {

  max-width: 800px;
  margin: auto;
  font-family: 'Cardo', serif;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
 }

p {

line-height: 20px;

}
header {

  background-color:  #3E5C76;
  color: white;
  padding: 15px ;
  text-align: center;
  height: 50px;
  border-radius: 10px;

}

header img {

  float: right;
  padding: 0px ;

}

footer { 

  text-align: center;
  background-color: #3E5C76;
  color: white;
  font-family: 'Be Vietnam', sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;

}

main {

  padding: 10px;
  text-align: center;

}

main img {

  max-width: 100%;
  height: auto;
  width: auto;

}

h1 {
  padding-top: 10px;
  margin: 0px;
}

footer a{
  color:  #89cff0;
}

ul a {

  color: #3E5C76;
}


nav ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  
}

nav li {
  float : left;

}

nav li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

nav li a:hover {

  background-color: #3E5C76;
}

#mainpage {

  border-top: 2px solid black;
  border-bottom: 2px solid black;

}

#logo {

  max-width: 75px;

}

#persona {

  display: flex;
  flex-direction: column;
    
}

#female img {

  height: 200px;
  
}

#male  img {

  height: 200px;
  
  

}

#audience {
text-align: center;
}