header img {

  min-width: 35px;
  padding: 20px;

}

body {

  max-width: 800px;
  margin: auto;
  line-height: 25px;


}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  text-transform: uppercase;
 }

p {

line-height: 20px;

}

header, footer {

	background-color: #7FC5DC;
	color: white;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;

}

header {

  color: whitesmoke;
  padding: 15px ;
  text-align: center;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

header img {

  float: right;
  padding: 0px ;

}

footer { 

  text-align: center;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



main {

  padding: 10px;
  text-align: center;
  

}

main img {

  max-width: 100%;
  height: auto;
  width: auto;

}

h1 {
  padding-top: 10px;
  margin: 0px;
}

footer a{

  color:  #89cff0;
}

ul a {

  color: #3E5C76;

}





@charset "UTF-8"; /* not necessary */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	
}

/* phone or baseline views **************************/
header,
footer {
	background-color: #7FC5DC;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header,
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1 {
	font-size: 1.1rem;
}
h2 {
	color: #536878;
}

nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	transition: 0.5s;
}
nav a:hover {

	background-color: white;
	color: #4888C8;
}


main {
	font-size: 0.8rem;
}


main picture {
	display: none;
	margin: 0.5rem;
}

footer {
	height: 5rem;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 1.5rem;
	}

	/* Horizontal Menu Examples */
	/* Flex *********************/
 		nav ul { display: flex; }
		nav ul li { flex: 1 1 auto; } */

	/* Grid *********************/
nav ul {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	}

	nav a {
		font-size: 1rem;
	}
	main {
		grid-template-columns: 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 2;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	h1 {
		font-size: 2rem;
	}
	nav a {
		font-size: 1.1rem;
	}

	article:nth-child(3) {
		grid-column: span 1;
	}
}



.mainpage {

  margin: 10px;

}

#logo {

  max-width: 50%;
  

}

#persona {

  display: flex;
  flex-direction: column;

}

#female img {

  height: 200px;
  border: 2px solid black;
  margin: 15px;
  float: left;
   
  
}

#male  img {

  height: 200px;
  border: 2px solid black;
  Margin:15px;
  float: left;

  
}

#male {

  border: 2px solid black;
  margin: 15px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

#female {

  border: 2px solid black;
  Margin: 15px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#audience {
text-align: center;
}

.scinerios {

  border: 2px solid black;
  Margin: 15px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.scinerios h4{

text-align: center;

}

#color {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid black;

}