header img {
  min-width: 35px;
  padding: 20px;

}

body {

  max-width: 800px;
  margin: auto;
  font-family: 'Cardo', serif;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
 }

p {

line-height: 20px;

}
header {

  background-color:  #4888C8;
  color: #DB901C;
  padding: 15px ;
  text-align: center;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

header img {

  float: right;
  padding: 0px ;

}

footer { 

  text-align: center;
  background-color: #4888C8;
  color: white;
  font-family: 'Be Vietnam', sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

main {

  padding: 10px;
  text-align: center;
  

}

main img {

  max-width: 100%;
  height: auto;
  width: auto;

}

h1 {
  padding-top: 10px;
  margin: 0px;
}

footer a{
  color:  #89cff0;
}

ul a {

  color: #3E5C76;
}

nav {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

}

nav ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0B1E38;
  border-radius: 10px;
  color: #E8E163;
  
}

nav li {
  float : left;

}

nav li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

nav li a:hover {

  background-color: #3E5C76;
}

.mainpage {

  margin: 10px;

}

#logo {

  max-width: 50%;
  

}

#persona {

  display: flex;
  flex-direction: column;

}

#female img {

  height: 200px;
  border: 2px solid black;
  margin: 15px;
  float: left;
   
  
}

#male  img {

  height: 200px;
  border: 2px solid black;
  Margin:15px;
  float: left;

  
}

#male {

  border: 2px solid black;
  margin: 15px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

#female {

  border: 2px solid black;
  Margin: 15px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#audience {
text-align: center;
}

.scinerios {

  border: 2px solid black;
  Margin: 15px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.scinerios h4{

text-align: center;

}

#color {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid black;

}