body {
    font-size 16px;
    font-family: 'Roboto Slab', serif;
    margin: 16px;
}

h1 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 18px;
    line-height: 25px;
    margin: auto;
}

section {
    background-color: #92a2cc;
    padding: 15px;
    border-style: hidden;
    border-radius: 5px;
}

h2,
h3 {
    text-align: center;
    color: #333;
}

img {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

button {
    display: block;
    margin: 0 auto;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    color: #333;
    background-color: #ccbc92;
    border: 1px solid;
    border-radius: 15px;
}

@media only screen and (max-width:800px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:500px) {
    main {
        grid-template-columns: 1fr;
    }
}